<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :post_subject %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :post_text %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%= collection_select(:post, :author_id, Author.all, :id, :name) %>
  </div>
  <div class="field">
    <%= form.label :category_id %>
    <%= collection_select(:post, :category_id, Category.all, :id, :description) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
