<!DOCTYPE html>
<html>
  <head>
    <title>Blogao</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="menu">
      <li><%= link_to 'Posts', posts_path %></li>
      <li><%= link_to 'Authors', authors_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
